@model IEnumerable<Furniture.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<body class="prod-pg">
@*<h1 class="ind">Index</h1>*@

<p>
    <a asp-action="Create" style="color:white;">Create New</a>
</p>
<table class="table">
        <thead class="table-dark">
        <tr class="table-info">
            <th  scope="row">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th style="width:50px;">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="table-info">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
               
        </tr>
}
    </tbody>
</table>
@section featured
        {
        <section class="featured">
            <div class="content-wrapper">
                <hgroup class="title">
                    <h1 class="ind">@ViewBag.Title.</h1>
                </hgroup>
                <p style="color:white">
                    This is a section. That is named section in Layout template defined by RenderSection
                </p>
            </div>
        </section>
    }
</body>
